---
const baseUrl = import.meta.env.BASE_URL
---

<header slot='first-in-body'>
  <a href=`${baseUrl}/blog`
    ><span style='text-decoration: underline;'>To Astro Blog</span><span class='arrow'> &rarr;</span></a
  >
</header>

<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0.2em 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    background-color: white;
  }
  .arrow {
    font-size: 1.5em;
    transition-duration: 0.3s;
  }
  a:hover .arrow {
    transform: translateX(4px);
    transition: transform 0.3s ease-in-out;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
  }
</style>
