---
const baseUrl = import.meta.env.BASE_URL
---

<header slot='first-in-body'><a href=`${baseUrl}/blog`>To Astro Blog</a> <span> &rarr;</span></header>
<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0.2em 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    z-index: 10;
    background-color: white;
  }
  span {
    font-size: 1.5em;
  }
</style>
